<div class="container-fluid p-0">
  <nav class="bg-primary text-light py-3">
    <h4 class="text-center">
      GitHub Finder
    </h4>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-3">
        <div class="card">
          <div class="card-body">
            <p class="lead">
              Welcome to the GitHub
              <span><i class="fas fa-cog"></i></span> Finder Application
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
