<div class="container-fluid py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-12">
        <h4 class="heading my-3">
          <i class="fas fa-search fa-1x"></i> &nbsp; Search for users on GitHub
        </h4>
        <form [formGroup]="searchForm" (ngSubmit)="search()" class="container">
          <div class="row">
            <div class="form-group col-md-9 col-9">
              <input
                type="text"
                formControlName="query"
                placeholder="Enter GitHub Username"
                class="form-control"
              />
            </div>
            <div class="col-md-3 col-3">
              <button
                class="btn btn-success mb-2"
                [disabled]="searchForm.invalid"
              >
                <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                Search <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container my-3" *ngIf="users?.length > 0 && !isLoading">
    <div class="row">
      <div
        class="col-md-3 col-12"
        *ngFor="
          let user of users
            | paginate: { itemsPerPage: itemsQtyForPage, currentPage: p }
        "
      >
        <div class="card my-2">
          <div class="card-img">
            <img
              [src]="user?.avatar_url"
              alt="{{ user?.login }}"
              class="img-fluid"
            />
          </div>
          <div class="card-body">
            <p class="text-center font-weight-bold github-name text-capitalize">
              <span>
                {{ user?.login }}
              </span>
            </p>
            <div class="row text-center">
              <div class="col-12 mb-2">
                <button class="btn btn-block btn-primary btn-md">
                  <a
                    [href]="user?.html_url"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-light github-link"
                  >
                    GitHub Profile
                    <i class="fas fa-external-link-alt"></i>
                  </a>
                </button>
              </div>
              <div class="col-12">
                <button
                  class="btn btn-block btn-success btn-md"
                  (click)="showMoreInfo()"
                >
                  View Info
                  <i class="fas fa-eye"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix my-3" *ngIf="users?.length === 0 && !isLoading">
      <div class="col-lg col-md col">
        <div class="card">
          <div class="card-body text-center">
            <p class="lead">There are no results for this search.</p>
            <button
              class="btn btn-md btn-primary"
              (click)="refreshAfterFilter()"
            >
              Refresh
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row" *ngIf="users?.length > 0 && !isLoading">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div
              class="row clearfix d-flex justify-content-center flex-row align-items-center"
            >
              <span>Show &nbsp;</span>
              <select
                name="pages"
                id="pages"
                (change)="selectPageQuantity($event)"
              >
                <option
                  *ngFor="let pageqty of pages"
                  selected
                  [value]="pageqty"
                >
                  {{ pageqty }}
                </option>
              </select>
              <span>&nbsp; items</span>
              <div class="mt-2">
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
